# Acceptance Test Report

## Memory Usage (Phpolar\MemoryUsage)

- [x] Memory usage shall be below 14000 bytes

## Project Size (Phpolar\ProjectSize)

- [x] Source code total size shall be below 3700 bytes

