# Acceptance Test Report

## Memory Usage (Phpolar\MemoryUsage)

- [x] Memory usage shall be below 15500 bytes

## Project Size (Phpolar\ProjectSize)

- [x] Source code total size shall be below 4100 bytes
